/*initialize*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
}

/*initialize end*/
#page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #457fca;
}
#page {
  width: 60%;
  margin-top: -30px;
}

#main-header {
  background-color: #7494de;
  padding-top: 20px;
  border-radius: 30px 30px 0 0;
  height: 46px;
  color: white;
}
.react-tabs {
  display: flex;
  justify-content: space-around;
  height: 700px;
}
.left-menu {
  background-color: #8bbdff;
  flex: 2;
}
.right-menu {
  padding: 20px;
  background-color: white;
  flex: 4;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  overflow: scroll;
}
#main-title {
  text-align: center;
  font-family: "Hi Melody", cursive;
  font-size: 30px;
}
.left-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.left-menu > ul > li {
  list-style: none;
  background-color: white;
  color: black;
  width: 70%;
  height: 120px;
  line-height: 120px;
  border-radius: 25px;
  text-align: center;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}
.left-menu > ul > li:hover {
  padding: 3px;
}
.content {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  color: #ffefef;
  display: none;
  overflow: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
.profile_content {
  font-size: 20px;
}
/*
.profile_content > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
*/
.profile_content > ul > li {
  list-style: none;
  padding: 30px;
  margin-left: 30px;
}
#menu-button {
  padding-left: 20px;
  position: relative;
  display: flex;
  top: -30px;
}
.button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
}
.button-color1 {
  background-color: #ff6c6c;
}
.button-color2 {
  background-color: #f6db90;
}

.button-color3 {
  background-color: #ffa873;
}

/* faq 시작 */

.animate {
  transition: all 0.3s;
}
#article_faq {
  position: relative;
  height: 100%;
  width: 100%;
}
input[name="question"] {
  display: none;
}
input[name="question"] + label {
  position: relative;
  display: block;
  padding: 20px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background: #f6f6f6;
  color: #ff7171;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 10px;
}

.response {
  position: relative;
  background: #ffefef;
  color: #7a2723;
  padding: 10px 20px;
  -webkit-transform: translate3d(0, -40px, 0) rotate(-0.5deg);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  border-radius: 3px;
}

input[name="question"]:checked + label {
  background: #ffd8d8;
  color: #ff7171;
}
input[name="question"]:checked + label + .response {
  opacity: 1;
  visibility: visible;
  padding: 10px 20px;
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  -webkit-filter: blur(0px);
  margin-bottom: 20px;
  color: #ff7171;
}

input[name="question"]:checked + label + p {
  display: block;
}

.fixed-height {
  height: 50px;
  overflow: hidden;
  opacity: 1 !important;
}
.answer {
  letter-spacing: 2px;
  line-height: 140%;
  display: none;
}
.right-logo {
  height: 57px;
  margin-right: 18px;
  margin-bottom: 5px;
  overflow: hidden;
}
.memory_img {
  width: 300px;
  border-radius: 40px;
}
.memory_comment {
  padding-left: 30px;
}
.memory_content {
  line-height: 140%;
}
.memory_video {
  margin-top: 5px;
  width: 300px;
  border-radius: 40px;
  outline: none;
}
.poster_img {
  width: 300px;
  border-radius: 40px;
}
.introduce {
  padding-left: 30px;
  line-height: 140%;
}
.react-tabs__tab--selected {
  color: white !important;
  background: #4959cf !important;
}
.article {
  display: flex;
  background: #4959cf;
  color: #f6f6f6;
  margin-bottom: 22px;
  border-radius: 15px;
  border: 1px solid black;
}
.projectImg {
  flex: 1;
}
.projectImg img {
  position: relative;
  width: 348px;
  height: 100%;
  border-radius: 15px 0 0 15px;
}
.projectContent {
  flex: 1.5;
  padding: 20px;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projectTitle {
  font-size: 20px;
  margin-bottom: 6px;
}
.projectDate {
  margin-left: 5px;
  font-size: 13px;
}
.projectDeploy {
  margin-bottom: 10px;
}
.projectSummary {
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 120%;
  margin-left: 15px;
}
.homepageLink {
  width: 27px;
  height: 27px;
  margin-left: 5px;
  display: block;
  float: right;
}
.subTitle {
  margin-bottom: 10px;
}
.EtcArticle {
  display: flex;
  background: #4959cf;
  color: #f6f6f6;
  margin-bottom: 22px;
  border-radius: 15px;
  border: 1px solid black;
}
.EtcContent {
  padding: 20px;
}
.profileWrapper {
  display: flex;
  background: #4959cf;
  color: #f6f6f6;
  margin-bottom: 22px;
  border-radius: 15px;
  border: 1px solid black;
  height: 660px;
  justify-content: space-between;
  align-items: center;
}
.profileHeader {
  position: relative;
}
.profileImg {
  height: 660px;
  border-radius: 15px;
}
.profileContent {
  font-size: 17px;
  margin-right: 20px;
}
.profileContent ul li {
  display: block;
  padding: 20px;
}

/*연혁시작*/
.history h2 {
  position: relative;
  font-size: 32px;
  color: white;
  line-height: 1;
}
.history h2:before {
  content: "";
  position: absolute;
  left: -48px;
  top: 50%;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #fff;
  border: 5px solid #7494de;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.history div {
  position: relative;
  padding: 0 0 0 48px;
}
.history div:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #ddd;
}
.history div:first-child:before {
  top: 10px;
  height: calc(100% - 10px);
}
.history ol {
  padding: 20px 0 74px;
}
.history li {
  font-size: 17px;
  color: white;
  line-height: 29px;
}
